<link rel="stylesheet" href="/css/navbar.css">
<div class="navbar">
    <img src="/img/bunbun.svg" alt="BunBun" class="logo">
    <a href="/" class="bold bunbunText">BUNBUN</a>
    <p class="ino"><%= wordsD.navbar.usedCommands %>: <%= botData.commands %></p>

    <% if (user) { %>
        <div class="dropdown">
            <button onclick="drops()" class="dropbtnsma tucz">
                <% if (user.avatar) {%>
                    <img class="tucz" style="border-radius: 35%;"
                         src="https://cdn.discordapp.com/avatars/<%- user.id %>/<%- user.avatar %>.png"
                         alt="<%- user.username %>#<%- user.discriminator %> avatar" height="35">
                <% } else { %>
                    <img class="tucz" style="border-radius: 35%;" src="https://bunbun.lempek.tk/img/default.png" alt="default picture"
                         height="35">
                <% } %>
                <i class="fas fa-sort-down nav-icon tucz"></i>
            </button>
            <div id="myDropdown" class="dropdown-content tucz">
                <span class="a tucz" style="font-size: 16px;"><%- user.username %>#<%- user.discriminator %></span>
                <a href="/user" class="nav-lempek a"><%= wordsD.navbar.settings %></a>
                <a href="/api/logout" class="nav-lempek a"><%= wordsD.navbar.logout %></a>
                <hr>
                <a href="https://lempek.tk/" class="nav-lempek a" style="float: right;">LempekWeb</a>
                <a href="https://api.lempek.tk" class="nav-lempek a" style="float: right;">LempekAPI</a>
                <a href="/changelog" class="nav-lempek a" style="float: right;"><%= wordsD.navbar.changelog %></a>
                <div style="text-align: center;">
                    <select class="sel tucz" onchange="locLang(this.value)">
                        <option value="en" <%- wordsD.lang == 'en' ? `selected` : ``; %>>English</option>
                        <option value="pl" <%- wordsD.lang == 'pl' ? `selected` : ``; %>>Polski</option>
                    </select>
                </div>
                <div class="a"><label onchange="saveusetheme();" class="switch tucz">
                        <input type="checkbox" id="checkDark" class="tucz">
                        <span class="slider round tucz"></span>
                    </label>
                </div>
            </div>
        </div>

    <% } else { %>
        <a href="api/login" class="nav-lempek" style="float: right;"><%= wordsD.navbar.login %></a>
        <div class="dropdown">
            <button onclick="drops()" class="dropbtn tucz"><i class="fas fa-ellipsis-v tucz"
                                                              style="font-size: 20px;"></i></button>
            <div id="myDropdown" class="dropdown-content tucz">
                <a href="https://lempek.tk/" class="nav-lempek a" style="float: right;">LempekWeb</a>
                <a href="https://api.lempek.tk" class="nav-lempek a" style="float: right;">LempekAPI</a>
                <a href="/changelog" class="nav-lempek a" style="float: right;"><%= wordsD.navbar.changelog %></a>
                <div style="text-align: center;">
                    <select class="sel tucz" onchange="locLang(this.value)">
                        <option value="en" <%- wordsD.lang == 'en' ? `selected` : ``; %>>English</option>
                        <option value="pl" <%- wordsD.lang == 'pl' ? `selected` : ``; %>>Polski</option>
                    </select>
                </div>
                <span class="a tucz"><label onchange="saveusetheme();" class="switch tucz">
          <input type="checkbox" id="checkDark" class="tucz">
          <span class="slider round tucz"></span>
        </label>
      </span>
            </div>
        </div>


</div>
<script src="/js/main/navbar.js"></script>
